@page "/add-sled"
@using apec4_sledManagement.Library
@using apec4_sledManagement.Library.Models
@using apec4_sledManagement.Library.TransferOfDataModels

@rendermode InteractiveServer
@inject SledManagementRepo ManagementRepo

<h3>Add Sled</h3>
<br />

<EditForm Model="CreateSled" FormName="createSledForm" OnValidSubmit="ValidFormSubmited" style="margin-left:10%; margin-right:10%;">
    <DataAnnotationsValidator />

    <div class="form-floating mb-3">
        <InputDate @bind-Value="CreateSled.CreateDate" class="form-control" autocomplete="createdate" aria-required="true" />
        <label for="createdate">Date of creation:</label>
        <ValidationMessage For="@(() => CreateSled.CreateDate)" class="text-danger"></ValidationMessage>
    </div>

    @* dropdown box *@
    <div class="form-floating mb-3">
        <InputSelect @bind-Value="@CreateSled.Type" class="form-control">
            @foreach (var type in Enum.GetValues(typeof(SledType)))
            {
                <option value="@type">@type</option>
            }
        </InputSelect>
        <label for="sledType">Select sled type:</label>
        <ValidationMessage For="() => CreateSled.Type" class="text-danger"/>
    </div>

    @if (!Result.Successful)
    {
        <div class="alert alert-danger">@Result.Message</div>
    }

    <button type="submit" class="w-100 btn btn-lg btn-primary">Create Sled</button>
</EditForm>

@code {
    // TODO: only admin can see this page

    private RepoResult Result { get; set; }
    private Sled CreateSled { get; set; }

    protected override void OnInitialized()
    {
        Result = new() { Successful = true };
        CreateSled = new Sled()
        {
            CreateDate = DateTime.Now,
        };
    }

    public void ValidFormSubmited()
    {
        Result = ManagementRepo.CreateSled(CreateSled);
        if (!Result.Successful)
        {
            return;
        }

        // TODO: add message of success
        CreateSled = new Sled()
        {
            CreateDate = DateTime.Now,
        };
    }
}
